# Vendors Performance Analysis

#### Importing libraies as per need

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## Steps involved in analysis

### 1. Load all datasets and standardize column names.

In [2]:
vendors = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/vendors.csv")

In [3]:
vendors.head()

   po_id  vendor_id           order_date  order_amount
0   5001       1335  2023-10-31 15:37:38        378779
1   5002       1134  2023-11-15 09:27:57        249245
2   5003       1118  2024-05-16 00:38:09        549264
3   5004       1369  2023-10-30 20:44:59        135333
4   5005       1094  2023-01-24 19:27:24        745585

In [4]:
deliveries = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/deliveries.csv")

In [5]:
payments = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/payments.csv")
purchase_orders = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/purchase_orders.csv")
quality_scores = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/quality_scores.csv")

In [6]:
payments.head()

   payment_id  po_id         payment_date  payment_amount payment_status
0        9001   8356  2024-06-02 23:32:55          169215        Pending
1        9002   7165  2025-01-28 06:34:43          225919        Pending
2        9003   5100  2025-01-30 18:18:33          780949           Paid
3        9004   5600  2023-05-19 09:37:09          292706        Pending
4        9005  14052  2023-06-02 02:26:19          567329        Pending

In [7]:
deliveries.head()

   delivery_id  po_id        delivery_date delivery_status
0         8001  11660  2023-10-23 20:25:35         On Time
1         8002   8749  2023-02-24 22:53:02         On Time
2         8003   9546  2024-01-05 11:01:43         On Time
3         8004   7733  2023-02-21 14:04:52         Delayed
4         8005   6873  2023-07-08 00:49:54         On Time

In [8]:
purchase_orders.head()

   po_id  vendor_id        purchase_date  order_amount
0   5001       1335  2023-10-31 15:37:38        378779
1   5002       1134  2023-11-15 09:27:57        249245
2   5003       1118  2024-05-16 00:38:09        549264
3   5004       1369  2023-10-30 20:44:59        135333
4   5005       1094  2023-01-24 19:27:24        745585

In [9]:
quality_scores.head()

   quality_id  vendor_id  quality_score      inspection_date
0        7001       1049          70.46  2024-11-29 08:00:13
1        7002       1180          89.44  2024-02-13 07:43:48
2        7003       1327          65.69  2024-03-07 06:39:08
3        7004       1160          90.03  2023-07-09 05:08:11
4        7005       1106          70.16  2023-07-17 07:39:27

### 2. Identify and remove duplicate records.

In [10]:
vendors.isnull().sum()

po_id           0
vendor_id       0
order_date      0
order_amount    0
dtype: int64

In [11]:
vendors.isna().sum()

po_id           0
vendor_id       0
order_date      0
order_amount    0
dtype: int64

In [12]:
deliveries.isnull().sum()

delivery_id        0
po_id              0
delivery_date      0
delivery_status    0
dtype: int64

In [13]:
deliveries.isna().sum()

delivery_id        0
po_id              0
delivery_date      0
delivery_status    0
dtype: int64

In [14]:
purchase_orders.isnull().sum()

po_id            0
vendor_id        0
purchase_date    0
order_amount     0
dtype: int64

In [15]:
purchase_orders.isna().sum()

po_id            0
vendor_id        0
purchase_date    0
order_amount     0
dtype: int64

In [16]:
quality_scores.isnull().sum()

quality_id         0
vendor_id          0
quality_score      0
inspection_date    0
dtype: int64

In [17]:
quality_scores.isna().sum()

quality_id         0
vendor_id          0
quality_score      0
inspection_date    0
dtype: int64

In [18]:
purchase_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   po_id          10000 non-null  int64
 1   vendor_id      10000 non-null  int64
 2   purchase_date  10000 non-null  object
 3   order_amount   10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

### 3.Convert all date columns to datetime format.

In [19]:
vendors['order_date'] = pd.to_datetime(vendors['order_date'])
purchase_orders['purchase_date'] = pd.to_datetime(purchase_orders['purchase_date'])
payments['payment_date'] = pd.to_datetime(payments['payment_date'])
deliveries['delivery_date'] = pd.to_datetime(deliveries['delivery_date'])

### 4. Count total number of vendors.

In [20]:
vendors.count()

po_id           10000
vendor_id       10000
order_date      10000
order_amount    10000
dtype: int64

### 4. Count total number of orders.

In [21]:
purchase_orders.count()

po_id            10000
vendor_id        10000
purchase_date    10000
order_amount     10000
dtype: int64

### 5. Calculate total revenue.

In [22]:
purchase_orders['order_amount'].sum()

np.int64(4246897787)

### 4. What is the average purchase order value?

In [23]:
round(purchase_orders['order_amount'].mean(),2)

np.float64(424689.78)