# Vendors Performance Analysis

#### Importing libraies as per need

In [28]:
import pandas as pd
import numpy as np
import datetime as dt

## Steps involved in analysis

### 1. Load all datasets and standardize column names.

In [2]:
vendors = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/vendors.csv")

In [3]:
vendors.head()

   po_id  vendor_id           order_date  order_amount
0   5001       1335  2023-10-31 15:37:38        378779
1   5002       1134  2023-11-15 09:27:57        249245
2   5003       1118  2024-05-16 00:38:09        549264
3   5004       1369  2023-10-30 20:44:59        135333
4   5005       1094  2023-01-24 19:27:24        745585

In [4]:
deliveries = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/deliveries.csv")

In [5]:
payments = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/payments.csv")
purchase_orders = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/purchase_orders.csv")
quality_scores = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/quality_scores.csv")

In [6]:
payments.head()

   payment_id  po_id         payment_date  payment_amount payment_status
0        9001   8356  2024-06-02 23:32:55          169215        Pending
1        9002   7165  2025-01-28 06:34:43          225919        Pending
2        9003   5100  2025-01-30 18:18:33          780949           Paid
3        9004   5600  2023-05-19 09:37:09          292706        Pending
4        9005  14052  2023-06-02 02:26:19          567329        Pending

In [7]:
deliveries.head()

   delivery_id  po_id        delivery_date delivery_status
0         8001  11660  2023-10-23 20:25:35         On Time
1         8002   8749  2023-02-24 22:53:02         On Time
2         8003   9546  2024-01-05 11:01:43         On Time
3         8004   7733  2023-02-21 14:04:52         Delayed
4         8005   6873  2023-07-08 00:49:54         On Time

In [8]:
purchase_orders.head()

   po_id  vendor_id           order_date  order_amount
0   5001       1335  2023-10-31 15:37:38        378779
1   5002       1134  2023-11-15 09:27:57        249245
2   5003       1118  2024-05-16 00:38:09        549264
3   5004       1369  2023-10-30 20:44:59        135333
4   5005       1094  2023-01-24 19:27:24        745585

In [9]:
quality_scores.head()

   quality_id  vendor_id  quality_score      inspection_date
0        7001       1049          70.46  2024-11-29 08:00:13
1        7002       1180          89.44  2024-02-13 07:43:48
2        7003       1327          65.69  2024-03-07 06:39:08
3        7004       1160          90.03  2023-07-09 05:08:11
4        7005       1106          70.16  2023-07-17 07:39:27

### 2. Identify and remove duplicate records.

In [10]:
vendors.isnull().sum()

po_id           0
vendor_id       0
order_date      0
order_amount    0
dtype: int64

In [11]:
vendors.isna().sum()

po_id           0
vendor_id       0
order_date      0
order_amount    0
dtype: int64

In [12]:
deliveries.isnull().sum()

delivery_id        0
po_id              0
delivery_date      0
delivery_status    0
dtype: int64

In [13]:
deliveries.isna().sum()

delivery_id        0
po_id              0
delivery_date      0
delivery_status    0
dtype: int64

In [14]:
purchase_orders.isnull().sum()

po_id           0
vendor_id       0
order_date      0
order_amount    0
dtype: int64

In [15]:
purchase_orders.isna().sum()

po_id           0
vendor_id       0
order_date      0
order_amount    0
dtype: int64

In [16]:
quality_scores.isnull().sum()

quality_id         0
vendor_id          0
quality_score      0
inspection_date    0
dtype: int64

In [17]:
quality_scores.isna().sum()

quality_id         0
vendor_id          0
quality_score      0
inspection_date    0
dtype: int64

### 3.Convert all date columns to datetime format.

### How many vendors are present in the dataset?

In [18]:
vendors.count()

po_id           10000
vendor_id       10000
order_date      10000
order_amount    10000
dtype: int64

### 2. How many purchase orders exist in total?

In [19]:
purchase_orders.count()

po_id           10000
vendor_id       10000
order_date      10000
order_amount    10000
dtype: int64

In [31]:
vendors['order_date'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

### 3. What is the total procurement spend?

In [20]:
purchase_orders['order_amount'].sum()

np.int64(4246897787)

### 4. What is the average purchase order value?

In [21]:
round(purchase_orders['order_amount'].mean(),2)

np.float64(424689.78)

In [22]:
quality_scores.head()

   quality_id  vendor_id  quality_score      inspection_date
0        7001       1049          70.46  2024-11-29 08:00:13
1        7002       1180          89.44  2024-02-13 07:43:48
2        7003       1327          65.69  2024-03-07 06:39:08
3        7004       1160          90.03  2023-07-09 05:08:11
4        7005       1106          70.16  2023-07-17 07:39:27

### 5. Which city has the highest number of vendors?

In [23]:
vendors.groupby('city')['vendor_id'].count().sort_index(ascending=False).head(1)

KeyError: 'city'

### 6. How many orders were delivered on time?

In [ ]:
deliveries[deliveries['delay_days']==0].shape[0]

769

### 7. How many orders were delayed?

In [ ]:
deliveries[deliveries['delay_days']<0].shape[0]

1605

### 8. What is the minimum and maximum PO amount?

In [ ]:
print(f" Maximum PO Amount: {purchase_orders['po_amount'].max()} , Minimum PO Amount:{purchase_orders['po_amount'].min()}")

 Maximum PO Amount: 499978 , Minimum PO Amount:5018

### 9. What is the average delivery delay?

In [ ]:
dday = deliveries[deliveries['delay_days']<0] 
dday['delay_days'].mean()

np.float64(-1.5021806853582556)

#### Around 1.5 Days late deliveries happened!

### 10. What is the average quality score?

In [ ]:
quality_scores['quality_score'].mean()

np.float64(79.4809)

### 11. Which vendors have the highest total spend?

In [ ]:
payments.groupby('po_id')['invoice_amount'].sum().sort_index(ascending=False).head()

po_id
60000    345492
59999    421962
59998    425635
59997    312205
59996     57034
Name: invoice_amount, dtype: int64

### 12. Which vendors have the highest number of orders?

In [ ]:
purchase_orders.groupby('vendor_id')['po_id'].count().reset_index(name='count').sort_values('count',ascending=False).head(1)

     vendor_id  count
187       1188     35

In [ ]:
deliveries.head()

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
0,50001,2023-09-29,2023-09-27,-2,On Time
1,50002,2023-05-19,2023-05-27,8,Delayed
2,50003,2023-02-05,2023-02-10,5,Delayed
3,50004,2023-11-23,2023-11-23,0,On Time
4,50005,2023-10-21,2023-10-19,-2,On Time

### 13. What percentage of deliveries are on time per vendor?

In [ ]:
len(deliveries)

10000

In [ ]:
(len(deliveries[deliveries['delivery_status']=='On Time'])/len(deliveries))*100

23.74

### 14. Which vendors have an average delay greater than 5 days?

In [ ]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21

In [ ]:
r1 = deliveries[deliveries['delay_days']>5]
r1

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
1,50002,2023-05-19,2023-05-27,8,Delayed
7,50008,2023-10-13,2023-10-21,8,Delayed
12,50013,2023-07-25,2023-08-02,8,Delayed
14,50015,2023-02-05,2023-02-11,6,Delayed
15,50016,2023-07-27,2023-08-05,9,Delayed
...,...,...,...,...,...
9986,59987,2023-02-15,2023-02-21,6,Delayed
9990,59991,2023-02-20,2023-03-01,9,Delayed
9992,59993,2023-10-30,2023-11-06,7,Delayed
9998,59999,2023-06-10,2023-06-16,6,Delayed
9999,60000,2023-09-08,2023-09-14,6,Delayed

In [ ]:
mr = pd.merge(r1,purchase_orders,how='inner',on='po_id')
mr

,po_id,expected_delivery_date_x,actual_delivery_date,delay_days,delivery_status,vendor_id,po_date,po_amount,expected_delivery_date_y
0,50002,2023-05-19,2023-05-27,8,Delayed,1482,2023-05-02,270620,2023-05-19
1,50008,2023-10-13,2023-10-21,8,Delayed,1296,2023-09-30,103331,2023-10-13
2,50013,2023-07-25,2023-08-02,8,Delayed,1427,2023-07-10,165631,2023-07-25
3,50015,2023-02-05,2023-02-11,6,Delayed,1042,2023-01-25,202872,2023-02-05
4,50016,2023-07-27,2023-08-05,9,Delayed,1025,2023-07-06,145119,2023-07-27
...,...,...,...,...,...,...,...,...,...
3374,59987,2023-02-15,2023-02-21,6,Delayed,1257,2023-01-26,305826,2023-02-15
3375,59991,2023-02-20,2023-03-01,9,Delayed,1226,2023-02-08,46132,2023-02-20
3376,59993,2023-10-30,2023-11-06,7,Delayed,1463,2023-10-19,141876,2023-10-30
3377,59999,2023-06-10,2023-06-16,6,Delayed,1199,2023-06-01,421962,2023-06-10
3378,60000,2023-09-08,2023-09-14,6,Delayed,1302,2023-08-21,345492,2023-09-08

In [ ]:
mr['vendor_id'].reset_index(name ='Vendor IDs')

      index  Vendor IDs
0         0        1482
1         1        1296
2         2        1427
3         3        1042
4         4        1025
...     ...         ...
3374   3374        1257
3375   3375        1226
3376   3376        1463
3377   3377        1199
3378   3378        1302

[3379 rows x 2 columns]

### 15. Compare average quality score by vendor category.

In [ ]:
pd.merge(vendors,purchase_orders,how='inner',on='vendor_id').merge(quality_scores,how='inner',on='po_id').assign(avg=lambda df: df['quality_rating'] == 'Average').groupby('vendor_category')['avg'].sum().reset_index(name='average_quality_count')

  vendor_category  average_quality_count
0      Consulting                    677
1     IT Services                    769
2       Logistics                    709
3     Maintenance                    785
4    Raw Material                    803

### 16. Which vendors frequently deliver poor-quality orders?

In [ ]:
pd.merge(vendors,purchase_orders,how='inner',on='vendor_id').merge(quality_scores,how='inner',on='po_id').assign(poor=lambda df:df['quality_rating']=='Poor').groupby('vendor_id')['poor'].count().reset_index(name='Poor_Quality').query('Poor_Quality>5').sort_values(by = 'Poor_Quality',ascending=False)

     vendor_id  Poor_Quality
187       1188            35
213       1214            34
38        1039            32
312       1313            32
272       1273            32
..         ...           ...
251       1252            12
35        1036            12
239       1240            10
256       1257            10
22        1023            10

[499 rows x 2 columns]

In [ ]:
payments.head()

   po_id  invoice_amount payment_date  payment_delay_days
0  50001          318817   2023-10-09                  10
1  50002          270620   2023-06-08                  20
2  50003          253465   2023-02-25                  20
3  50004          337046   2023-12-20                  27
4  50005          358413   2023-11-10                  20

### 17. What is the average payment delay per vendor?

In [ ]:
round(pd.merge(payments,purchase_orders,on='po_id',how='inner').merge(vendors,on='vendor_id',how='inner').groupby('vendor_id')['payment_delay_days'].mean().reset_index(name='APD'),2)

     vendor_id    APD
0         1001  24.60
1         1002  28.05
2         1003  22.82
3         1004  20.89
4         1005  23.95
..         ...    ...
495       1496  23.40
496       1497  20.52
497       1498  24.74
498       1499  21.90
499       1500  21.55

[500 rows x 2 columns]

### 18. Identify vendors with payment delays greater than 30 days.

In [ ]:
pd.merge(payments,purchase_orders,on='po_id',how='inner').merge(vendors,on='vendor_id',how='inner').assign(gt = lambda x:x['payment_delay_days']>30).groupby('vendor_id')['payment_delay_days'].count().reset_index(name='Payment GT 30')

     vendor_id  Payment GT 30
0         1001             20
1         1002             20
2         1003             22
3         1004             18
4         1005             19
..         ...            ...
495       1496             20
496       1497             21
497       1498             23
498       1499             21
499       1500             20

[500 rows x 2 columns]

In [ ]:
deliveries.head()

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
0,50001,2023-09-29,2023-09-27,-2,On Time
1,50002,2023-05-19,2023-05-27,8,Delayed
2,50003,2023-02-05,2023-02-10,5,Delayed
3,50004,2023-11-23,2023-11-23,0,On Time
4,50005,2023-10-21,2023-10-19,-2,On Time

In [ ]:
vendors.head()

   vendor_id vendor_name vendor_category       city contract_start_date
0       1001    Vendor_1     Maintenance  Hyderabad          2023-05-15
1       1002    Vendor_2      Consulting    Chennai          2024-01-30
2       1003    Vendor_3       Logistics     Mumbai          2022-10-04
3       1004    Vendor_4      Consulting  Hyderabad          2024-02-07
4       1005    Vendor_5      Consulting       Pune          2023-12-08

In [ ]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21

### 19. Compare delivery performance across cities.

In [ ]:
pac = pd.merge(deliveries,purchase_orders,on='po_id',how='inner').merge(vendors,on='vendor_id',how='inner')

In [ ]:
pac

,po_id,expected_delivery_date_x,actual_delivery_date,delay_days,delivery_status,vendor_id,po_date,po_amount,expected_delivery_date_y,vendor_name,vendor_category,city,contract_start_date
0,50001,2023-09-29,2023-09-27,-2,On Time,1491,2023-09-12,318817,2023-09-29,Vendor_491,Raw Material,Hyderabad,2021-01-20
1,50002,2023-05-19,2023-05-27,8,Delayed,1482,2023-05-02,270620,2023-05-19,Vendor_482,Maintenance,Hyderabad,2020-09-14
2,50003,2023-02-05,2023-02-10,5,Delayed,1201,2023-01-31,253465,2023-02-05,Vendor_201,IT Services,Chennai,2019-03-16
3,50004,2023-11-23,2023-11-23,0,On Time,1154,2023-11-11,337046,2023-11-23,Vendor_154,Raw Material,Bengaluru,2021-10-05
4,50005,2023-10-21,2023-10-19,-2,On Time,1450,2023-10-12,358413,2023-10-21,Vendor_450,IT Services,Mumbai,2021-07-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,59996,2023-10-21,2023-10-19,-2,On Time,1121,2023-10-09,57034,2023-10-21,Vendor_121,IT Services,Bengaluru,2024-02-09
9996,59997,2023-07-23,2023-07-21,-2,On Time,1398,2023-07-10,312205,2023-07-23,Vendor_398,Logistics,Delhi,2020-07-05
9997,59998,2023-11-08,2023-11-08,0,On Time,1182,2023-10-19,425635,2023-11-08,Vendor_182,Logistics,Mumbai,2020-01-06
9998,59999,2023-06-10,2023-06-16,6,Delayed,1199,2023-06-01,421962,2023-06-10,Vendor_199,Consulting,Pune,2020-06-20
9999,60000,2023-09-08,2023-09-14,6,Delayed,1302,2023-08-21,345492,2023-09-08,Vendor_302,Consulting,Pune,2022-11-15

In [ ]:
pac[['delivery_status','city']]

     delivery_status       city
0            On Time  Hyderabad
1            Delayed  Hyderabad
2            Delayed    Chennai
3            On Time  Bengaluru
4            On Time     Mumbai
...              ...        ...
9995         On Time  Bengaluru
9996         On Time      Delhi
9997         On Time     Mumbai
9998         Delayed       Pune
9999         Delayed       Pune

[10000 rows x 2 columns]

In [ ]:
pac['Performance'] = np.where(pac['delivery_status']=='On Time' , 'Satisfactory','Poor')

In [ ]:
pac[['delivery_status','city','Performance']]

     delivery_status       city   Performance
0            On Time  Hyderabad  Satisfactory
1            Delayed  Hyderabad          Poor
2            Delayed    Chennai          Poor
3            On Time  Bengaluru  Satisfactory
4            On Time     Mumbai  Satisfactory
...              ...        ...           ...
9995         On Time  Bengaluru  Satisfactory
9996         On Time      Delhi  Satisfactory
9997         On Time     Mumbai  Satisfactory
9998         Delayed       Pune          Poor
9999         Delayed       Pune          Poor

[10000 rows x 3 columns]

In [ ]:
pac.assign(sat = lambda x:x['Performance']=='Satisfactory').groupby('city')['sat'].count().reset_index(name='On Time Deliveries')

        city  On Time Deliveries
0  Bengaluru                1536
1    Chennai                1613
2      Delhi                1580
3  Hyderabad                1712
4     Mumbai                1757
5       Pune                1802