# Unemployment in India Analysis

![Amazon Logo](https://www.thestreet.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_768/MTY3NTQxMjMwMDg3ODQxNjc4/6-types-of-unemployment-and-what-makes-them-different.png)



## Contents in this Project

1. **Data Loading and Summary Checking**
2. **Data Cleaning**
3. **Feature Extraction**
4. **EDA and Data Visualization**
5. **Conclusion**

In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv("Unemployment Data.csv")

In [16]:
data.head()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881.0,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707.0,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693.0,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762.0,44.68,Rural

In [17]:
data.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
count,740.000000,7.400000e+02,740.000000
mean,11.787946,7.204460e+06,42.630122
std,10.721298,8.087988e+06,8.111094
min,0.000000,4.942000e+04,13.330000
25%,4.657500,1.190404e+06,38.062500
50%,8.350000,4.744178e+06,41.160000
75%,15.887500,1.127549e+07,45.505000
max,76.740000,4.577751e+07,72.570000

In [18]:
data.isnull()

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
763,True,True,True,True,True,True,True
764,True,True,True,True,True,True,True
765,True,True,True,True,True,True,True
766,True,True,True,True,True,True,True
767,True,True,True,True,True,True,True

In [19]:
data.isnull().sum()

Region                                      28
 Date                                       28
 Frequency                                  28
 Estimated Unemployment Rate (%)            28
 Estimated Employed                         28
 Estimated Labour Participation Rate (%)    28
Area                                        28
dtype: int64

##### Clearly , it can be seen that some null/NA values are here. we will try to remove that on the basis of  most required situations

In [25]:
data.head(1)

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area,Date,Estimated Employed
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139.0,43.24,Rural,31-05-2019,11999139.0

## Data Cleaning

In [ ]:
data = data.rename(columns={data.columns[0]:'State',data.columns[3]:'EUR',data.columns[4]:'EE', data.columns[5]:'ELPR'})

In [21]:
data[' Date'].mode()

0     30-11-2019
1     31-10-2019
Name:  Date, dtype: object

In [23]:
data['Date'] = data[' Date'].fillna(data[' Date'].mode()[0])

##### Similarly for all

In [24]:
data['Estimated Employed']=data[' Estimated Employed'].fillna(data[' Estimated Employed'].mode()[0])

In [ ]:
data['Estimated Labour Participation Rate (%)']