In [1]:

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt;

In [2]:
bowler = pd.read_csv('Datasets/IPL2023_Bowler.csv',encoding= 'unicode_escape')
batsman = pd.read_csv('Datasets/IPL2023_Batsman.csv',encoding= 'unicode_escape')
match_Score = pd.read_csv('Datasets/IPL2023_Matches.csv',encoding= 'unicode_escape')
matches = pd.read_csv('Datasets/IPL2023_Match_Scoreboard.csv',encoding= 'unicode_escape')

In [3]:
batsman

,match_no,Batsman,team,Run,Ball,4s,6s,out_by
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little
...,...,...,...,...,...,...,...,...
1109,70,Shubman Gill,Gujarat Titans,104,52,5,8,Not Out
1110,70,Vijay Shankar,Gujarat Titans,53,35,7,2,Vijaykumar Vyshak
1111,70,Dasun Shanaka,Gujarat Titans,0,3,0,0,Harshal Patel
1112,70,David Miller,Gujarat Titans,6,7,1,0,Mohammed Siraj
1113,70,Rahul Tewatia,Gujarat Titans,4,5,0,0,Not Out