## Vendors Performance Analysis

#### Importing libraies as per need

In [1]:
import pandas as pd
import numpy as np

### Importing data and their behaviour

In [2]:
vendors = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/vendors.csv")

In [3]:
vendors.head()

   vendor_id vendor_name vendor_category       city contract_start_date
0       1001    Vendor_1     Maintenance  Hyderabad          2023-05-15
1       1002    Vendor_2      Consulting    Chennai          2024-01-30
2       1003    Vendor_3       Logistics     Mumbai          2022-10-04
3       1004    Vendor_4      Consulting  Hyderabad          2024-02-07
4       1005    Vendor_5      Consulting       Pune          2023-12-08

In [4]:
deliveries = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/deliveries.csv")

In [5]:
payments = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/payments.csv")
purchase_orders = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/purchase_orders.csv")
quality_scores = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/quality_scores.csv")

In [6]:
payments.head()

   po_id  invoice_amount payment_date  payment_delay_days
0  50001          318817   2023-10-09                  10
1  50002          270620   2023-06-08                  20
2  50003          253465   2023-02-25                  20
3  50004          337046   2023-12-20                  27
4  50005          358413   2023-11-10                  20

In [7]:
deliveries.head()

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
0,50001,2023-09-29,2023-09-27,-2,On Time
1,50002,2023-05-19,2023-05-27,8,Delayed
2,50003,2023-02-05,2023-02-10,5,Delayed
3,50004,2023-11-23,2023-11-23,0,On Time
4,50005,2023-10-21,2023-10-19,-2,On Time

In [8]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21

In [9]:
quality_scores.head()

   po_id  quality_score quality_rating
0  50001             79        Average
1  50002             83        Average
2  50003             93           Good
3  50004             82        Average
4  50005             97           Good

In [11]:
vendors.isnull().sum()

vendor_id              0
vendor_name            0
vendor_category        0
city                   0
contract_start_date    0
dtype: int64

In [12]:
vendors.isna().sum()

vendor_id              0
vendor_name            0
vendor_category        0
city                   0
contract_start_date    0
dtype: int64

In [13]:
deliveries.isnull().sum()

po_id                     0
expected_delivery_date    0
actual_delivery_date      0
delay_days                0
delivery_status           0
dtype: int64

In [14]:
deliveries.isna().sum()

po_id                     0
expected_delivery_date    0
actual_delivery_date      0
delay_days                0
delivery_status           0
dtype: int64

In [15]:
purchase_orders.isnull().sum()

po_id                     0
vendor_id                 0
po_date                   0
po_amount                 0
expected_delivery_date    0
dtype: int64

In [16]:
purchase_orders.isna().sum()

po_id                     0
vendor_id                 0
po_date                   0
po_amount                 0
expected_delivery_date    0
dtype: int64

In [17]:
quality_scores.isnull().sum()

po_id             0
quality_score     0
quality_rating    0
dtype: int64

In [18]:
quality_scores.isna().sum()

po_id             0
quality_score     0
quality_rating    0
dtype: int64

### How many vendors are present in the dataset?

In [19]:
vendors.count()

vendor_id              500
vendor_name            500
vendor_category        500
city                   500
contract_start_date    500
dtype: int64

### 2. How many purchase orders exist in total?

In [20]:
purchase_orders.count()

po_id                     10000
vendor_id                 10000
po_date                   10000
po_amount                 10000
expected_delivery_date    10000
dtype: int64

### 3. What is the total procurement spend?

In [23]:
purchase_orders['po_amount'].sum()

np.int64(2527962015)

### 4. What is the average purchase order value?

In [27]:
round(purchase_orders['po_amount'].mean(),2)

np.float64(252796.2)

### 5. Which city has the highest number of vendors?

In [33]:
vendors.groupby('city')['vendor_id'].count().sort_index(ascending=False).head(1)

city
Pune    90
Name: vendor_id, dtype: int64

### 6. How many orders were delivered on time?

In [41]:
deliveries[deliveries['delay_days']==0].shape[0]

769

### 7. How many orders were delayed?

In [42]:
deliveries[deliveries['delay_days']<0].shape[0]

1605

### 8. What is the minimum and maximum PO amount?

In [48]:
print(f" Maximum PO Amount: {purchase_orders['po_amount'].max()} , Minimum PO Amount:{purchase_orders['po_amount'].min()}")

 Maximum PO Amount: 499978 , Minimum PO Amount:5018

### 9. What is the average delivery delay?

In [54]:
dday = deliveries[deliveries['delay_days']<0] 
dday['delay_days'].mean()

np.float64(-1.5021806853582556)

#### Around 1.5 Days late deliveries happened!

### 10. What is the average quality score?

In [57]:
quality_scores['quality_score'].mean()

np.float64(79.4809)

### 11. Which vendors have the highest total spend?

In [67]:
payments.groupby('po_id')['invoice_amount'].sum().sort_index(ascending=False).head()

po_id
60000    345492
59999    421962
59998    425635
59997    312205
59996     57034
Name: invoice_amount, dtype: int64

In [71]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21

### 12. Which vendors have the highest number of orders?