In [1]:
import pandas as pd
import numpy as np

In [6]:
vendors = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/vendors.csv")

In [7]:
vendors.head()

   vendor_id vendor_name vendor_category       city contract_start_date
0       1001    Vendor_1     Maintenance  Hyderabad          2023-05-15
1       1002    Vendor_2      Consulting    Chennai          2024-01-30
2       1003    Vendor_3       Logistics     Mumbai          2022-10-04
3       1004    Vendor_4      Consulting  Hyderabad          2024-02-07
4       1005    Vendor_5      Consulting       Pune          2023-12-08