## Vendors Performance Analysis

#### Importing libraies as per need

In [1]:
import pandas as pd
import numpy as np

### Importing data and their behaviour

In [2]:
vendors = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/vendors.csv")

In [3]:
vendors.head()

   vendor_id vendor_name vendor_category       city contract_start_date
0       1001    Vendor_1     Maintenance  Hyderabad          2023-05-15
1       1002    Vendor_2      Consulting    Chennai          2024-01-30
2       1003    Vendor_3       Logistics     Mumbai          2022-10-04
3       1004    Vendor_4      Consulting  Hyderabad          2024-02-07
4       1005    Vendor_5      Consulting       Pune          2023-12-08

In [4]:
deliveries = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/deliveries.csv")

In [5]:
payments = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/payments.csv")
purchase_orders = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/purchase_orders.csv")
quality_scores = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/quality_scores.csv")

In [6]:
payments.head()

   po_id  invoice_amount payment_date  payment_delay_days
0  50001          318817   2023-10-09                  10
1  50002          270620   2023-06-08                  20
2  50003          253465   2023-02-25                  20
3  50004          337046   2023-12-20                  27
4  50005          358413   2023-11-10                  20

In [7]:
deliveries.head()

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
0,50001,2023-09-29,2023-09-27,-2,On Time
1,50002,2023-05-19,2023-05-27,8,Delayed
2,50003,2023-02-05,2023-02-10,5,Delayed
3,50004,2023-11-23,2023-11-23,0,On Time
4,50005,2023-10-21,2023-10-19,-2,On Time

In [8]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21

In [9]:
quality_scores.head()

   po_id  quality_score quality_rating
0  50001             79        Average
1  50002             83        Average
2  50003             93           Good
3  50004             82        Average
4  50005             97           Good

In [10]:
vendors.isnull().sum()

vendor_id              0
vendor_name            0
vendor_category        0
city                   0
contract_start_date    0
dtype: int64

In [11]:
vendors.isna().sum()

vendor_id              0
vendor_name            0
vendor_category        0
city                   0
contract_start_date    0
dtype: int64

In [12]:
deliveries.isnull().sum()

po_id                     0
expected_delivery_date    0
actual_delivery_date      0
delay_days                0
delivery_status           0
dtype: int64

In [13]:
deliveries.isna().sum()

po_id                     0
expected_delivery_date    0
actual_delivery_date      0
delay_days                0
delivery_status           0
dtype: int64

In [14]:
purchase_orders.isnull().sum()

po_id                     0
vendor_id                 0
po_date                   0
po_amount                 0
expected_delivery_date    0
dtype: int64

In [15]:
purchase_orders.isna().sum()

po_id                     0
vendor_id                 0
po_date                   0
po_amount                 0
expected_delivery_date    0
dtype: int64

In [16]:
quality_scores.isnull().sum()

po_id             0
quality_score     0
quality_rating    0
dtype: int64

In [17]:
quality_scores.isna().sum()

po_id             0
quality_score     0
quality_rating    0
dtype: int64

### How many vendors are present in the dataset?

In [18]:
vendors.count()

vendor_id              500
vendor_name            500
vendor_category        500
city                   500
contract_start_date    500
dtype: int64

### 2. How many purchase orders exist in total?

In [19]:
purchase_orders.count()

po_id                     10000
vendor_id                 10000
po_date                   10000
po_amount                 10000
expected_delivery_date    10000
dtype: int64

### 3. What is the total procurement spend?

In [20]:
purchase_orders['po_amount'].sum()

np.int64(2527962015)

### 4. What is the average purchase order value?

In [21]:
round(purchase_orders['po_amount'].mean(),2)

np.float64(252796.2)

### 5. Which city has the highest number of vendors?

In [22]:
vendors.groupby('city')['vendor_id'].count().sort_index(ascending=False).head(1)

city
Pune    90
Name: vendor_id, dtype: int64

### 6. How many orders were delivered on time?

In [23]:
deliveries[deliveries['delay_days']==0].shape[0]

769

### 7. How many orders were delayed?

In [24]:
deliveries[deliveries['delay_days']<0].shape[0]

1605

### 8. What is the minimum and maximum PO amount?

In [25]:
print(f" Maximum PO Amount: {purchase_orders['po_amount'].max()} , Minimum PO Amount:{purchase_orders['po_amount'].min()}")

 Maximum PO Amount: 499978 , Minimum PO Amount:5018

### 9. What is the average delivery delay?

In [26]:
dday = deliveries[deliveries['delay_days']<0] 
dday['delay_days'].mean()

np.float64(-1.5021806853582556)

#### Around 1.5 Days late deliveries happened!

### 10. What is the average quality score?

In [27]:
quality_scores['quality_score'].mean()

np.float64(79.4809)

### 11. Which vendors have the highest total spend?

In [28]:
payments.groupby('po_id')['invoice_amount'].sum().sort_index(ascending=False).head()

po_id
60000    345492
59999    421962
59998    425635
59997    312205
59996     57034
Name: invoice_amount, dtype: int64

### 12. Which vendors have the highest number of orders?

In [29]:
purchase_orders.groupby('vendor_id')['po_id'].count().reset_index(name='count').sort_values('count',ascending=False).head(1)

     vendor_id  count
187       1188     35

In [30]:
deliveries.head()

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
0,50001,2023-09-29,2023-09-27,-2,On Time
1,50002,2023-05-19,2023-05-27,8,Delayed
2,50003,2023-02-05,2023-02-10,5,Delayed
3,50004,2023-11-23,2023-11-23,0,On Time
4,50005,2023-10-21,2023-10-19,-2,On Time

### 13. What percentage of deliveries are on time per vendor?

In [31]:
len(deliveries)

10000

In [32]:
(len(deliveries[deliveries['delivery_status']=='On Time'])/len(deliveries))*100

23.74

### 14. Which vendors have an average delay greater than 5 days?

In [33]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21

In [34]:
r1 = deliveries[deliveries['delay_days']>5]
r1

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
1,50002,2023-05-19,2023-05-27,8,Delayed
7,50008,2023-10-13,2023-10-21,8,Delayed
12,50013,2023-07-25,2023-08-02,8,Delayed
14,50015,2023-02-05,2023-02-11,6,Delayed
15,50016,2023-07-27,2023-08-05,9,Delayed
...,...,...,...,...,...
9986,59987,2023-02-15,2023-02-21,6,Delayed
9990,59991,2023-02-20,2023-03-01,9,Delayed
9992,59993,2023-10-30,2023-11-06,7,Delayed
9998,59999,2023-06-10,2023-06-16,6,Delayed
9999,60000,2023-09-08,2023-09-14,6,Delayed

In [35]:
mr = pd.merge(r1,purchase_orders,how='inner',on='po_id')
mr

,po_id,expected_delivery_date_x,actual_delivery_date,delay_days,delivery_status,vendor_id,po_date,po_amount,expected_delivery_date_y
0,50002,2023-05-19,2023-05-27,8,Delayed,1482,2023-05-02,270620,2023-05-19
1,50008,2023-10-13,2023-10-21,8,Delayed,1296,2023-09-30,103331,2023-10-13
2,50013,2023-07-25,2023-08-02,8,Delayed,1427,2023-07-10,165631,2023-07-25
3,50015,2023-02-05,2023-02-11,6,Delayed,1042,2023-01-25,202872,2023-02-05
4,50016,2023-07-27,2023-08-05,9,Delayed,1025,2023-07-06,145119,2023-07-27
...,...,...,...,...,...,...,...,...,...
3374,59987,2023-02-15,2023-02-21,6,Delayed,1257,2023-01-26,305826,2023-02-15
3375,59991,2023-02-20,2023-03-01,9,Delayed,1226,2023-02-08,46132,2023-02-20
3376,59993,2023-10-30,2023-11-06,7,Delayed,1463,2023-10-19,141876,2023-10-30
3377,59999,2023-06-10,2023-06-16,6,Delayed,1199,2023-06-01,421962,2023-06-10
3378,60000,2023-09-08,2023-09-14,6,Delayed,1302,2023-08-21,345492,2023-09-08

In [36]:
mr['vendor_id'].reset_index(name ='Vendor IDs')

      index  Vendor IDs
0         0        1482
1         1        1296
2         2        1427
3         3        1042
4         4        1025
...     ...         ...
3374   3374        1257
3375   3375        1226
3376   3376        1463
3377   3377        1199
3378   3378        1302

[3379 rows x 2 columns]

### 15. Compare average quality score by vendor category.

In [37]:
pd.merge(vendors,purchase_orders,how='inner',on='vendor_id').merge(quality_scores,how='inner',on='po_id').assign(avg=lambda df: df['quality_rating'] == 'Average').groupby('vendor_category')['avg'].sum().reset_index(name='average_quality_count')

  vendor_category  average_quality_count
0      Consulting                    677
1     IT Services                    769
2       Logistics                    709
3     Maintenance                    785
4    Raw Material                    803

### 16. Which vendors frequently deliver poor-quality orders?

In [38]:
pd.merge(vendors,purchase_orders,how='inner',on='vendor_id').merge(quality_scores,how='inner',on='po_id').assign(poor=lambda df:df['quality_rating']=='Poor').groupby('vendor_id')['poor'].count().reset_index(name='Poor_Quality').query('Poor_Quality>5').sort_values(by = 'Poor_Quality',ascending=False)

     vendor_id  Poor_Quality
187       1188            35
213       1214            34
38        1039            32
312       1313            32
272       1273            32
..         ...           ...
251       1252            12
35        1036            12
239       1240            10
256       1257            10
22        1023            10

[499 rows x 2 columns]

In [62]:
payments.head()

   po_id  invoice_amount payment_date  payment_delay_days
0  50001          318817   2023-10-09                  10
1  50002          270620   2023-06-08                  20
2  50003          253465   2023-02-25                  20
3  50004          337046   2023-12-20                  27
4  50005          358413   2023-11-10                  20

### 17. What is the average payment delay per vendor?

In [55]:
round(pd.merge(payments,purchase_orders,on='po_id',how='inner').merge(vendors,on='vendor_id',how='inner').groupby('vendor_id')['payment_delay_days'].mean().reset_index(name='APD'),2)

     vendor_id    APD
0         1001  24.60
1         1002  28.05
2         1003  22.82
3         1004  20.89
4         1005  23.95
..         ...    ...
495       1496  23.40
496       1497  20.52
497       1498  24.74
498       1499  21.90
499       1500  21.55

[500 rows x 2 columns]

### 18. Identify vendors with payment delays greater than 30 days.

In [65]:
pd.merge(payments,purchase_orders,on='po_id',how='inner').merge(vendors,on='vendor_id',how='inner').assign(gt = lambda x:x['payment_delay_days']>30).groupby('vendor_id')['payment_delay_days'].count().reset_index(name='Payment GT 30')

     vendor_id  Payment GT 30
0         1001             20
1         1002             20
2         1003             22
3         1004             18
4         1005             19
..         ...            ...
495       1496             20
496       1497             21
497       1498             23
498       1499             21
499       1500             20

[500 rows x 2 columns]

### 19. Compare delivery performance across cities.