In [1]:
import pandas as pd
import numpy as np

In [6]:
vendors = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/vendors.csv")

In [7]:
vendors.head()

   vendor_id vendor_name vendor_category       city contract_start_date
0       1001    Vendor_1     Maintenance  Hyderabad          2023-05-15
1       1002    Vendor_2      Consulting    Chennai          2024-01-30
2       1003    Vendor_3       Logistics     Mumbai          2022-10-04
3       1004    Vendor_4      Consulting  Hyderabad          2024-02-07
4       1005    Vendor_5      Consulting       Pune          2023-12-08

In [8]:
deliveries = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/deliveries.csv")

In [9]:
payments = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/payments.csv")
purchase_orders = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/purchase_orders.csv")
quality_scores = pd.read_csv("https://raw.githubusercontent.com/neerajcodes888/Data-Science/main/Data%20Analysis/Vendor%20Performance%20Analysis/dataset/quality_scores.csv")

In [10]:
payments.head()

   po_id  invoice_amount payment_date  payment_delay_days
0  50001          318817   2023-10-09                  10
1  50002          270620   2023-06-08                  20
2  50003          253465   2023-02-25                  20
3  50004          337046   2023-12-20                  27
4  50005          358413   2023-11-10                  20

In [11]:
deliveries.head()

,po_id,expected_delivery_date,actual_delivery_date,delay_days,delivery_status
0,50001,2023-09-29,2023-09-27,-2,On Time
1,50002,2023-05-19,2023-05-27,8,Delayed
2,50003,2023-02-05,2023-02-10,5,Delayed
3,50004,2023-11-23,2023-11-23,0,On Time
4,50005,2023-10-21,2023-10-19,-2,On Time

In [12]:
purchase_orders.head()

   po_id  vendor_id     po_date  po_amount expected_delivery_date
0  50001       1491  2023-09-12     318817             2023-09-29
1  50002       1482  2023-05-02     270620             2023-05-19
2  50003       1201  2023-01-31     253465             2023-02-05
3  50004       1154  2023-11-11     337046             2023-11-23
4  50005       1450  2023-10-12     358413             2023-10-21